[Unit]
Description=RPI Display
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/rpi-display
ExecStart=/rpi-dsiplay/start.remote.sh

[Install]
WantedBy=multi-user.target